<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwConfigExceptions="true">
    <targets>
      <target name="console" xsi:type="ColoredConsole"
              layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] [${pad:padding=5:inner=${level:uppercase=true}}] [${logger}] ${message} ${exception:format=tostring}" />

      <target name="logdebugsystem" xsi:type="DebugSystem"
              layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${pad:padding=5:inner=${level:uppercase=true}}] [${logger}] ${message} ${exception:format=tostring}" />
      
      <target name="servicelogfile" xsi:type="File"
              fileName="${specialfolder:folder=CommonApplicationData:cached=true}/Audiobookshelf/logs/service.log"
              layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${pad:padding=5:inner=${level:uppercase=true}}] [${logger}] ${message} ${exception:format=tostring}"
              maxArchiveFiles="5"
              archiveAboveSize="10485760"
              archiveNumbering="Rolling" />

      <target name="serverlogfile" xsi:type="File"
              fileName="${specialfolder:folder=CommonApplicationData:cached=true}/Audiobookshelf/logs/server.log"
              layout="${message}"
              maxArchiveFiles="5"
              archiveAboveSize="10485760"
              archiveNumbering="Rolling" />
    </targets>

    <rules>
      <logger name="Server" minlevel="Trace" writeTo="serverlogfile" final="true" />
      <logger name="*" minlevel="Debug" writeTo="console,logdebugsystem,servicelogfile" />
    </rules>
  </nlog>
</configuration>
